/* Estilos para los botones y contenedores */
.custom-btn-primary {
    background-color: #a4afda; 
    border-color: #44495b;
    
  }
  
.container {
    max-width: 900px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Agregar espaciado interior al contenedor */
 }

.input-group {
    margin-bottom: 15px; /* Ajusta el espacio entre cada grupo de entrada */
}

.input-label {
    margin: 3px; /* Ajusta el espacio entre la etiqueta y el campo de entrada */
    display: block; /* Hace que las etiquetas ocupen toda la anchura disponible */
}


.input-field {
    width: 100%; /* Ajusta el ancho del campo de entrada al 100% del contenedor */
    padding: 5px; /* Espacio interno del campo de entrada */
    border: 1px solid #6b728e; /* Borde del campo de entrada */
    border-radius: 3px; /* Bordes redondeados */
}

.btn-custom-CA{
    background-color: #7c9d96;
}

.btn-custom-Presente{
    background-color: #82927d;
}

.btn-custom-Ausente{
    background-color: #f7d060;
}

.btn-custom-Actualizar{
    background-color: #ccbe8f;
}





  