/* Estilos para los botones y contenedores */
.custom-btn-primary {
    background-color: #fac3a5; /* Color personalizado para el botón */
    border-color: #e48368; /* Color del borde del botón */
    
  }
  
.container {
    max-width: 900px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    padding: 20px; /* Agregar espaciado interior al contenedor */
 }

.input-group {
    margin-bottom: 15px; /* Ajusta el espacio entre cada grupo de entrada */
}

.input-label {
    margin: 3px; /* Ajusta el espacio entre la etiqueta y el campo de entrada */
    display: block; /* Hace que las etiquetas ocupen toda la anchura disponible */
}


.input-field {
    width: 100%; /* Ajusta el ancho del campo de entrada al 100% del contenedor */
    padding: 5px; /* Espacio interno del campo de entrada */
    border: 1px solid #ac9f7c; /* Borde del campo de entrada */
    border-radius: 3px; /* Bordes redondeados */
}






  